nav {
  
  div {
    .logo {
      max-width: 24px;
      max-height: 24px;
    }
    a {
      text-decoration: none;
      color: #333333;
      margin-right: 10px;
    }
  }
  display: flex;
  justify-content: space-between;
  margin: 22px auto;
}
