<nav >
  <div class="row">
    <span class="logo">
      <img class="col" src="assets/images/Vector.png" alt="" />
    </span>
    <p class="col">my Dream Place</p>
  </div>
  <div class="row">
    <a class="col-2" href="/home">home</a>
    <a class="col-2" href="">discover</a>
    <a class="col-2" href="">activite</a>
    <a class="col-2" href="">about</a>
    <a class="col-2" href="">contact</a>
  </div>
  <div><button type="button" class="btn btn-primary" routerLink="sign" routerLinkActive="router-link-active" >login</button></div>
</nav>
