<section>
  <div class="head">
    <div>
      <h1>Enjoy Your Dream Vacation</h1>
      <p>
        Plan and book our perfect trip with expert advice, travel tips,
        destination information and inspiration from us
      </p>
    </div>
    <form>
      <select class="form-control" >
        <option value="All">where are you going? </option>
      </select>
      <input class="form-control" type="date" />
      <input class="form-control" type="date" />
      <input class="form-control" type="text" />
      <input class="form-control" type="text"  placeholder="assets/images/home/Rectangle 77.png"/>
      <button type="button" class="btn btn-primary" (click)="search()">search</button>
    </form>
  </div>
</section>
