<section>
  <h2>{{ title }}</h2>

  <form [formGroup]="form">
    <div>
      <label for="email">Email address</label>
      <input class="form-control" type="email" placeholder="Email address" id="email" formControlName="email"/>
    </div>

    <div>
      <label for="password">password</label>
      <input
        class="form-control"
        type="password"
        id="password"
        placeholder="Enter password"
        formControlName="password"
      />
    </div>
    @if (title!="Sign in") {
    <div>
      <label for="confirm">Confirm password</label>
      <input
        class="form-control"
        type="password"
        placeholder="Enter password"
        id="confirm"
        formControlName="confirm"
      />
    </div>
    }

    <div>
      <button [disabled]="!form.valid" type="button" class="btn btn-primary" (click)="register()">{{ title }}</button>
      <p>
        {{word}} have an account? <span (click)="convert()">{{reTitle}}</span>
      </p>
    </div>
  </form>

  <div class="alert alert-danger" role="alert" *ngIf="alert">
 password or email is mistake
  </div>
</section>
